/* Poppins font */
@font-face {
  font-family: Poppins;  
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: medium;
  /* src: url("../fonts/Poppins/Poppins-SemiBold.ttf"); */
  /* src: url("../fonts/Poppins/Poppins-Bold.ttf"); */
}

@font-face {
  font-family: Poppins;  
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: semibold;    
}

@font-face {
  font-family: Poppins;  
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: bold;  
}

/* CSS Variables */
:root {
  --header-height: 3rem;
  --nav-width: 324px;

  /* Font Weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Font */
  --body-font: Poppins, sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Colors */
  --primary-color: #005086;
  --primary-color-dark: #222831;
  --primary-color-darken: #000839;
  --text-color: #07031a;
  --light-color: #fbd46d;
  --lighten-color: #eeeeee;

  /* Margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /* Z Index */
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    /* Font */    
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* <== BASE ==>  */
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--lighten-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p {
  margin: 0;
}

h3{
  font-weight: var(--font-semi-bold);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/* <== Classes ==> */
.section{
  padding: 4rem 0 2rem;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle{
  display: block;
  font-size: var(--small-font-size);
  color: var(--primary-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}

/* <== Layout ==> */
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100%-2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--lighten-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* <== Navbar ==>*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu{
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  transition: 0.5s;
}

.nav_close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--primary-color-dark);
  cursor: pointer;
}

.nav_item{
  margin-bottom: var(--mb-4);
}

.nav_link{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--lighten-color);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav_link:hover{
  color: var(--text-color);
}

.nav_toggle{
  color: var(--primary-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}

/* => Show Menu */
.show{
  left: 0;
}

/* => Active Menu */
.active{
  color: var(--text-color);
}

/* <== Home ==> */
.home_container{
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.home_data{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.home_img{
  padding-top: 1.3rem;
  padding-left: 0.8rem;
  width: 200px;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}

.home_title{
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  font-weight: var(--font-semi-bold);
}

.home_profession{
  font-size-adjust: var(--small-font-size);
  color: var(--primary-color-dark);
  margin-bottom: var(--mb-5);
}

.home_social{
  margin-bottom: 5rem;
}

.home_social-link{
  display: inline-flex;
  background-color: var(--primary-color);
  color: var(--lighten-color);
  font-size: 1.3rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.home_social-link:hover{
  background-color: var(--primary-color-dark);
}

.home_button{
  width: 100%;
}

/* <== Buttons ==> */
.button{
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--lighten-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover{
  background-color: var(--primary-color-dark);
}

.button_light{
  background-color: var(--lighten-color);
  color: var(--primary-color);  
}

.button_light:hover{
  color: var(--lighten-color);
}

/* <== ABOUT ==> */
.about_container{
  row-gap: 2rem;
}

.about_data{
  text-align: center;
}

.about_description{
  margin-bottom: var(--mb-4);
}

.about_img{
  width: 225px;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.about_information{
  margin-bottom: var(--mb-4);
}

.about_information-title{
  font-size: var(--h3-font-size);
  color: var(--primary-color-dark);
  margin-bottom: var(--mb-2);
}

.about_information-data{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.about_information-icon{
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-right: var(--mb-4);
}

.about_information-subtitle{
  display: block;
  font-weight: var(--font-semi-bold);
}

.about_information-subtitle-small{
  font-size: var(--small-font-size);
}

/* <== SKILLS ==> */
.skills_container{
  row-gap: 2rem;
}

.skills_subtitle{
  font-size: var(--h3-font-size);
  color: var(--primary-color-dark);
  margin-bottom: var(--mb-2);
}

.skills_data{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb-1);
  margin-bottom: var(--mb-4);
}

.skills_name{
  text-transform: uppercase;
}

.skills_icon {
  font-size: 1.5rem;  
}

.skills_bar{
  position: absolute;
  bottom: -0.75rem;
  height: 0.25rem;
  background-color: var(--primary-color);
}

.skills_html {
  width: 95%;
}
.skills_javascript {
  width: 90%;
}
.skills_angular {
  width: 90%;
}
.skills_react {
  width: 85%;
}
.skills_vue {
  width: 80%;
}
.skills_csharp {
  width: 95%;
}
.skills_python {
  width: 95%;
}
.skills_java {
  width: 90%;
}
.skills_php {
  width: 85%;
}
.skills_nodejs {
  width: 90%;
}
.skills_dotnet {
  width: 95%;
}
.skills_django {
  width: 85%;
}
.skills_laravel {
  width: 40%;
}
.skills_sqlserver {
  width: 95%;
}
.skills_mariadb {
  width: 90%;
}
.skills_postgresql {
  width: 90%;
}
.skills_mongodb {
  width: 90%;
}

/* <== EDUCATION ==> */
.education_container{
  row-gap: 2rem;
}

.education_content{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.education_year, .education_race{
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

.education_university, .education_specialty{
  display: block;
  font-size: var(--smaller-font-size);
}

.education_year, .education_university{
  text-align: right;
}

.education_time{
  padding: 0 1rem;
  justify-self: center;
}

.education_rounder{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.education_rounder::before{
  content: '';
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.education_line{
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--primary-color);
  transform: translate(5px, -4px);
}

/* <== SKILLS ==> */
.services_container{
  row-gap: 2rem;
}

.services_content{
  padding: 1.5rem 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  text-align: center;
}

.services_icon{
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--lighten-color);
  border-radius: 50%;
  margin-bottom: var(--mb-2);
}

.services_title{
  font-size: 1.25rem;
  color: var(--primary-color-dark);
  margin-bottom: var(--mb-1);
}

.services_content, .services_icon, .services_description, .services_title{
  transition: 0.5s;
}

.services_content:hover{
  background-color: var(--primary-color);
}

.services_content:hover .services_icon{
  background-color: var(--lighten-color);
  color: var(--primary-color);
}

.services_content:hover .services_title{  
  color: var(--lighten-color);
}

.services_content:hover .services_description{  
  color: var(--lighten-color);
}